body{
    font-family: 'Baloo Chettan 2', cursive;
}
*{
    margin: 0;
    padding: 0;
}
.nav-logo{
    display: flex;
    justify-content: center;
    border-radius: 2px solid green;
}
.navbar-collapse{
    border: 2px solid red;
}
.navbar-collapse a{
    cursor: pointer;
    font-size: 20px;
}
.navbar-collapse li{
    list-style-type: none;
}
.navbar-collapse .flex{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid green;
}