body{
    width: 100%;
    font-family: 'Baloo Chettan 2', cursive;
}
*{
    margin: 0;
    padding: 0;
}
html{
    overflow-x:hidden;
}
/* HOME SECTION STARTED */
#home{
    background-color: #f9725b;
    border-radius: 2px solid green;
}
.navbar-menu-items ul li{
    list-style-type: none;
}
.navbar-menu-items ul a{
    text-decoration: none;
    color: white;
}
.navbar-menu-right-items ul li{
    text-decoration: none;
    color: white;
}